{% macro navbar() %}
    <div class="navbar">
        <h3>Navigation</h3>
    </div>
{%- endmacro %}

{% macro title_bar(title) %}
    <div class="title-bar">
        <h1>{{ title }}</h1>
    </div>
{%- endmacro %}
